.idea
IOS/Prototype/Umamee/Umamee.xcodeproj/project.xcworkspace/xcuserdata/vergara7.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
IOS/.DS_Store
IOS/Prototype/.DS_Store
IOS/Prototype/Umamee/.DS_Store
IOS/Prototype/Umamee/Podfile.lock
IOS/Prototype/Umamee/Pods/Firebase/CoreOnly/Sources/Firebase.h
IOS/Prototype/Umamee/Pods/Firebase/LICENSE
IOS/Prototype/Umamee/Pods/Firebase/README.md
IOS/Prototype/Umamee/Pods/FirebaseAnalytics/Frameworks/FIRAnalyticsConnector.framework/FIRAnalyticsConnector
IOS/Prototype/Umamee/Pods/FirebaseAnalytics/Frameworks/FirebaseAnalytics.framework/FirebaseAnalytics
IOS/Prototype/Umamee/Pods/FirebaseAuth/Firebase/Auth/CHANGELOG.md
IOS/Prototype/Umamee/Pods/FirebaseAuth/Firebase/Auth/Source/Auth/FIRAuth.m
IOS/Prototype/Umamee/Pods/FirebaseAuth/Firebase/Auth/Source/AuthProvider/OAuth/FIROAuthProvider.m
IOS/Prototype/Umamee/Pods/FirebaseAuth/Firebase/Auth/Source/Public/FIRAuthErrors.h
IOS/Prototype/Umamee/Pods/FirebaseAuth/Firebase/Auth/Source/Public/FIRUser.h
IOS/Prototype/Umamee/Pods/FirebaseAuth/Firebase/Auth/Source/User/FIRUser.m
IOS/Prototype/Umamee/Pods/FirebaseAuth/Firebase/Auth/Source/Utilities/FIRAuthDefaultUIDelegate.m
IOS/Prototype/Umamee/Pods/FirebaseAuth/Firebase/Auth/Source/Utilities/FIRAuthErrorUtils.m
IOS/Prototype/Umamee/Pods/FirebaseAuth/README.md
IOS/Prototype/Umamee/Pods/FirebaseCore/Firebase/Core/FIRApp.m
IOS/Prototype/Umamee/Pods/FirebaseCore/Firebase/Core/FIRComponentContainer.m
IOS/Prototype/Umamee/Pods/FirebaseCore/Firebase/Core/Private/FIRComponentContainerInternal.h
IOS/Prototype/Umamee/Pods/FirebaseCore/README.md
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/document_reference.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/document_reference.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/firestore.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/firestore.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/listener_registration.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/listener_registration.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/query_core.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/query_core.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/query_listener_registration.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/query_listener_registration.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/snapshots_in_sync_listener_registration.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/snapshots_in_sync_listener_registration.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/write_batch.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/api/write_batch.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/event_listener.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/event_manager.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/event_manager.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/firestore_client.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/firestore_client.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/query.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/query.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/query_listener.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/query_listener.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/sync_engine.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/sync_engine.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/sync_engine_callback.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/transaction.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/transaction_runner.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/core/user_data.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/immutable/sorted_set.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/document_key_reference.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_index_manager.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_index_manager.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_key.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_lru_reference_delegate.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_lru_reference_delegate.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_mutation_queue.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_persistence.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_persistence.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_persistence_apple.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_query_cache.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_query_cache.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_remote_document_cache.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_util.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/leveldb_util.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/local_documents_view.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/local_documents_view.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/local_serializer.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/local_serializer.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/local_store.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/local_store.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/local_write_result.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/lru_garbage_collector.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/lru_garbage_collector.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_eager_reference_delegate.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_eager_reference_delegate.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_lru_reference_delegate.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_lru_reference_delegate.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_mutation_queue.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_mutation_queue.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_persistence.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_persistence.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_query_cache.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_query_cache.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/memory_remote_document_cache.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/mutation_queue.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/persistence.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/query_data.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/query_data.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/query_engine.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/reference_delegate.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/remote_document_cache.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/simple_query_engine.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/local/simple_query_engine.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/model/database_id.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/model/database_id.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/model/mutation.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/model/mutation.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/nanopb/byte_string.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/nanopb/byte_string.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/connectivity_monitor_apple.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/datastore.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/datastore.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_call.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_completion.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_connection.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_stream.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_stream.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_stream_observer.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_streaming_reader.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_streaming_reader.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_unary_call.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_unary_call.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_util.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/grpc_util.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/online_state_tracker.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/online_state_tracker.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/remote_objc_bridge.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/remote_store.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/remote_store.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/serializer.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/serializer.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/stream.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/watch_change.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/watch_change.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/watch_stream.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/remote/write_stream.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/comparison.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/empty.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/error_apple.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/error_apple.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/executor.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/executor_libdispatch.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/executor_std.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/filesystem.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/filesystem_common.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/filesystem_detail.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/filesystem_posix.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/status.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/status.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/status_apple.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/status_fwd.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/core/src/firebase/firestore/util/statusor_callback.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Protos/nanopb/google/firestore/v1/document.nanopb.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Protos/nanopb/google/firestore/v1/firestore.nanopb.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Protos/nanopb/google/firestore/v1/query.nanopb.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.cc
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Protos/nanopb/google/firestore/v1/write.nanopb.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/API/FIRDocumentReference.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/API/FIRFirestore.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/API/FIRListenerRegistration+Internal.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/API/FIRListenerRegistration.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/API/FIRQuery.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Local/FSTLevelDB.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Local/FSTLevelDB.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Local/FSTLocalStore.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Local/FSTLocalStore.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Local/FSTLRUGarbageCollector.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Local/FSTMemoryPersistence.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Local/FSTMemoryPersistence.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Local/FSTPersistence.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Public/FIRDocumentChange.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Public/FIRDocumentSnapshot.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Public/FIRFirestore.h
IOS/Prototype/Umamee/Pods/FirebaseFirestore/Firestore/Source/Remote/FSTSerializerBeta.mm
IOS/Prototype/Umamee/Pods/FirebaseFirestore/README.md
IOS/Prototype/Umamee/Pods/FirebaseInstanceID/Firebase/InstanceID/FIRIMessageCode.h
IOS/Prototype/Umamee/Pods/FirebaseInstanceID/Firebase/InstanceID/FIRInstanceID.m
IOS/Prototype/Umamee/Pods/FirebaseInstanceID/Firebase/InstanceID/FIRInstanceIDBackupExcludedPlist.m
IOS/Prototype/Umamee/Pods/FirebaseInstanceID/Firebase/InstanceID/FIRInstanceIDTokenManager.h
IOS/Prototype/Umamee/Pods/FirebaseInstanceID/Firebase/InstanceID/FIRInstanceIDTokenManager.m
IOS/Prototype/Umamee/Pods/FirebaseInstanceID/README.md
IOS/Prototype/Umamee/Pods/GoogleAppMeasurement/Frameworks/GoogleAppMeasurement.framework/GoogleAppMeasurement
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/GDTCOREvent.m
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/GDTCORPlatform.m
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/GDTCORStorage.m
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/GDTCORTransformer.m
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/GDTCORTransport.m
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/GDTCORUploadCoordinator.m
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/Private/GDTCORStorage_Private.h
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/Private/GDTCORTransformer_Private.h
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/Private/GDTCORUploadCoordinator.h
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/Public/GDTCOREvent.h
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/Public/GDTCORPlatform.h
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/Public/GDTCORTargets.h
IOS/Prototype/Umamee/Pods/GoogleDataTransport/GoogleDataTransport/GDTCORLibrary/Public/GDTCORTransport.h
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTNanopbHelpers.m
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTCCTUploader.m
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLPrioritizer.m
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/GDTFLLUploader.m
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTCCTUploader.h
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTFLLPrioritizer.h
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/Private/GDTFLLUploader.h
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/Protogen/nanopb/cct.nanopb.c
IOS/Prototype/Umamee/Pods/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport/GDTCCTLibrary/Protogen/nanopb/cct.nanopb.h
IOS/Prototype/Umamee/Pods/GoogleSignIn/CHANGELOG.md
IOS/Prototype/Umamee/Pods/GoogleSignIn/Frameworks/GoogleSignIn.framework/GoogleSignIn
IOS/Prototype/Umamee/Pods/GoogleSignIn/Frameworks/GoogleSignIn.framework/Headers/GIDAuthentication.h
IOS/Prototype/Umamee/Pods/GoogleSignIn/Frameworks/GoogleSignIn.framework/Headers/GIDGoogleUser.h
IOS/Prototype/Umamee/Pods/GoogleSignIn/Frameworks/GoogleSignIn.framework/Headers/GIDProfileData.h
IOS/Prototype/Umamee/Pods/GoogleSignIn/Frameworks/GoogleSignIn.framework/Headers/GIDSignIn.h
IOS/Prototype/Umamee/Pods/GoogleSignIn/Frameworks/GoogleSignIn.framework/Headers/GIDSignInButton.h
IOS/Prototype/Umamee/Pods/GTMSessionFetcher/Source/GTMSessionFetcher.h
IOS/Prototype/Umamee/Pods/GTMSessionFetcher/Source/GTMSessionFetcher.m
IOS/Prototype/Umamee/Pods/GTMSessionFetcher/Source/GTMSessionUploadFetcher.h
IOS/Prototype/Umamee/Pods/GTMSessionFetcher/Source/GTMSessionUploadFetcher.m
IOS/Prototype/Umamee/Pods/Manifest.lock
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/project.pbxproj
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/AppAuth.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/BoringSSL-GRPC.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/Firebase.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/FirebaseAnalytics.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/FirebaseAuth.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/FirebaseAuthInterop.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/FirebaseCore.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/FirebaseCoreDiagnostics.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/FirebaseCoreDiagnosticsInterop.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/FirebaseFirestore.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/FirebaseInstanceID.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/GoogleAppMeasurement.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/GoogleDataTransport.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/GoogleDataTransportCCTSupport.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/GoogleSignIn.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/GoogleUtilities.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/gRPC-C++-gRPCCertificates-Cpp.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/gRPC-C++.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/gRPC-Core.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/GTMAppAuth.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/GTMSessionFetcher.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/leveldb-library.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/nanopb.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/Pods-Umamee.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/Protobuf.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/derekthompson.xcuserdatad/xcschemes/xcschememanagement.plist
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/AppAuth.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/BoringSSL-GRPC.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/Firebase.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/FirebaseAnalytics.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/FirebaseAuth.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/FirebaseAuthInterop.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/FirebaseCore.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/FirebaseCoreDiagnostics.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/FirebaseCoreDiagnosticsInterop.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/FirebaseFirestore.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/FirebaseInstanceID.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/GoogleAppMeasurement.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/GoogleDataTransport.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/GoogleDataTransportCCTSupport.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/GoogleSignIn.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/GoogleUtilities.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/gRPC-C++-gRPCCertificates-Cpp.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/gRPC-C++.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/gRPC-Core.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/GTMAppAuth.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/GTMSessionFetcher.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/leveldb-library.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/nanopb.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/Pods-Umamee.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/Protobuf.xcscheme
IOS/Prototype/Umamee/Pods/Pods.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/xcschememanagement.plist
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseAuth/FirebaseAuth-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseAuth/FirebaseAuth.xcconfig
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseCore/FirebaseCore-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseCore/FirebaseCore.xcconfig
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseCoreDiagnostics/FirebaseCoreDiagnostics-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseFirestore/FirebaseFirestore-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseFirestore/FirebaseFirestore.xcconfig
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseInstanceID/FirebaseInstanceID-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/FirebaseInstanceID/FirebaseInstanceID.xcconfig
IOS/Prototype/Umamee/Pods/Target Support Files/GoogleDataTransport/GoogleDataTransport-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/GoogleDataTransportCCTSupport/GoogleDataTransportCCTSupport-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/GTMSessionFetcher/GTMSessionFetcher-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/nanopb/nanopb-Info.plist
IOS/Prototype/Umamee/Pods/Target Support Files/Pods-Umamee/Pods-Umamee-acknowledgements.markdown
IOS/Prototype/Umamee/Pods/Target Support Files/Pods-Umamee/Pods-Umamee-acknowledgements.plist
IOS/Prototype/Umamee/Umamee.xcodeproj/xcuserdata/vergara7.xcuserdatad/xcschemes/xcschememanagement.plist
IOS/Prototype/Umamee/Umamee.xcworkspace/xcuserdata/derekthompson.xcuserdatad/UserInterfaceState.xcuserstate
IOS/Prototype/Umamee/Umamee.xcworkspace/xcuserdata/vergara7.xcuserdatad/UserInterfaceState.xcuserstate
